              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="{{ site.baseurl }}/posts/life.html">
                      Life
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/posts/tech.html">
                      Wine Tech
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/posts/note.html">
                      Tasting Notes
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/archives.html">
                      Archieves
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="{{ site.baseurl }}/posts/event.html">
                      Events!
                    </a>
                  </li>                  
				  <li>
                    <a href="{{ site.baseurl }}/posts/review.html">
                      Wine Review
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/posts/other.html">
                      Others
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/tags.html">
                      Tags
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
