            <ul class="list-unstyled">
              <li>
                <a href="http://google.com" target="_blank">
                  Google (friend lk)
                </a>
              </li>
              <li>
                <a href="http://http://stackoverflow.com/questions/2276572/how-do-you-do-block-comment-in-yaml" target="_blank">
                  Stackoverflow
                </a>
              </li>	
              <li>
                <a href="/links.html">
                  交换友情链接
                </a>
              </li>				  
            </ul>
