--- 
layout: default 
--- 
<!-- Navi -->
{% for cat in site.all_categories %}{% if page.category == cat[0] %}<a href="{{ site.baseurl }}/index.html">Home</a>&nbsp;>&nbsp;<a href="{{cat[2]}}">{{cat[1]}}</a>&nbsp;>&nbsp;content{% endif %}{% endfor %}
<!-- Title -->
<h2>{{ page.title }}</h2>
{% if page.tags.size > 0%}<b>Tags：</b>{% for tag in page.tags %}{% if tag != "" %}<a href="{{ site.baseurl }}/tags.html#{{ tag }}"><i>{{ tag }}</i></a>{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}{% endif %}
<div class="post-date">
	<i class="fa fa-calendar fa-fw"></i>
	{{ page.date | date:"%Y.%m.%d" }}
</div>
{% if page.featureimg %}
  <img src="{{ page.featureimg }}" style="width: 100%;" >
{% endif %}
<br/>

<!-- content -->
<div>
{{ content }}
</div>

<br/>
<b>Quote this link for reblog!</b>
<br/>
<b>Link of this po: </b><a href="{{site.baseurl}}{{page.url}}" title="{{page.name}}">{{site.baseurl}}{{page.url}}</a>

<!-- next and previous -->
<div style="margin-top:15px; margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    <i class="fa fa-chevron-circle-left"></i> Previous
    <a href="{{page.previous.url | prepend: site.baseurl }}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  {%if page.next%}
  <div style="float:right">
  <span class="prev" >
    <a href="{{page.next.url | prepend: site.baseurl }}">
      {{page.next.title}} 
    </a>
    Next <i class="fa fa-chevron-circle-right"></i>
  </span>
  </div>
  {%endif%}
</div>
<hr>
<!-- Blog Comments -->
<div class="media">
  {% include comment.html %} 
</div>